
.show-modal {
    display: flex;
    margin-left: auto;
}
#btn-add-new-course {
    position: relative;
}
.btn:hover {
    color: white;
}
/* #addNewCourse-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    width: 90%;
    height: 50%;
    background-color: #333;
} */
#addNewCourse-container form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

#save {
    width: 100px;
}
input[type=text] {
    width: 300px;
}

.hidden {
    display:none;
  }
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.close-modal, .close-buy-modal {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 44px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

  

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


.buy-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    background-color: rgb(255, 231, 231);
    text-align: center;
}