@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241);
}


/*----------FLEX CONTAINER AND ITEMS----------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background: aquamarine; */
}
.row-item-navbar {
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.row-item-landing-page {
    position: relative;
    background-image: url(../img/students.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-item-landing-page::before {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.301);
}


.row-item1 {
    width: 90%;
}

.row-item2 {
    width: 80%;
}


.flex-container-offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.wrapper {
    width: 100%;
    padding: 20px;
    background: rgb(231, 231, 231);
}

.row-item3 {
    width: 90%;
    margin: 15px;
}


/*----------------NAVBAR------------------*/
.navbar {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.89);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar h1 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.navbar-logo {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-nav {
    list-style-type: none;
}
.nav-links
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; 
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
}


/*--------------ROW LANDING PAGE-----------*/
.welcome-text-landing {
    position: relative;
    text-align: center;
    top: 185px;
    color: #fff;
}
.welcome-text-landing h1 {
    font-size: 32px;
    font-weight: 300;
}
.welcome-text-landing h3 {
    font-weight: 400;
}

.btn {
    display: inline-block;
    background: rgba(255, 99, 71, 0.897);
    color: rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    margin: 10px 0;
    outline: none;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.288);
}
/*---------------ROW - WELCOME------*/

.welcome-text h1 {
    text-align: center;
    font-size: 22px;
    margin: 20px;
}
.welcome-text p {
    text-align: center;
    margin: 20px;
    line-height: 30px;
}


/*---------------ROW ITEM 2 -----------------*/

.row-item2 h1 {
    text-align: center;
    padding: 50px;
}



.offers-item1{
    text-align: center;
    padding-top: 30px;
    width: 250px;
    height: 250px;
    margin: 10px;
    cursor:pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);

}

.offers-item1 h3 {
    margin: 10px;
}

/*----------------ROW ITEM 3 ---------------*/

.item3-text h1 {
    margin: 20px 0;
}

.item3-text {
    margin-bottom: 20px;
}

.item3-img img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}


/*---------------- ROW ITEM 4 --------------*/

.item4-text h1 {
    margin: 20px 0;
}

.item4-text {
    margin-bottom: 20px;
}

.item4-img img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}






    /*-----------------FOOTER-------------*/

    .footer hr {
        width: 80%;
        margin: 10px auto;
    }
    .footer {
        font-size: small;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .footer a {
        text-decoration: none;
        color: rgb(150, 68, 53);
    }

    .footer a:hover {
        color: rgb(56, 56, 56);
    }






/* DESKTOP RESPONESIVE */
@media screen and (min-width: 999px) {


   /*----------FLEX CONTAINER AND ITEMS----------*/
    .container {

    }
    .row-item-navbar {

    }
    .row-item-landing-page {
        background-position-y: -250px;
        height: 800px;

    }
    .row-item1 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .row-item2 {
        margin-bottom: 100px;
    }

    .flex-container-offers {
        padding-bottom: unset;
        gap:3%;
    }
    
    .wrapper {
        padding: 100px;
    }

    .row-item3 {
        margin: unset;
        width: 100%;
    }

    /*----------------NAVBAR------------------*/

    .navbar {
        position: relative;
        display: flex;
        height: 50px;
    }

    .navbar h1 {
        margin: auto 0;
        padding: unset;
        padding-left: 20px;
        font-size: 30px;
    }

    .navbar .on-current-page {
        background-color: rgba(255, 99, 71, 0.808);
        padding: 5px 10px;
        border-radius: 3px;
    }

    .main-nav {
        display: flex;
        margin: 0 auto;
        gap: 20px;
    }

    .main-nav li {
        font-size: 14px;
        margin: auto;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: rgb(207, 96, 52);
    }


    
    /*--------------ROW LANDING PAGE-----------*/
    .welcome-text-landing {
        top: 280px;
    }
    .welcome-text-landing h1 {
        font-size: 36px;
    }

    .btn {
        padding: 8px 18px;
        margin: 20px 0;

    }

    /*---------------ROW - WELCOME------*/

    .welcome-text {
        width: 50%;
    }

    .welcome-text h1 {
        font-weight: 300;
        font-size: 26px;

    }

    .welcome-text p {
        line-height: unset;
        margin-right: 50px;
    }
    

    /*---------------ROW ITEM 2 -----------------*/

    .row-item2 h1 {
        font-size: 24px;
        font-weight: 300;
    }

    .offers-item1{
        margin: unset;    
    }

    /*------------ROW ITEM 3 ------------*/

    .item3-container {
        width: 90%;
        margin: 0 auto;
    }

    .item3-text h1 {
        margin: 20px 0;
    }
    
    .item3-text {
        float: left;
        text-align: center;
        width: 50%;
        height: 400px;
        padding-top: 50px;
        padding: 50px;
        margin-bottom: unset;
    }
    
    .item3-img img{
        float: right;
        width: 50%;
        height: 400px;
    }

    /*-------------ROW ITEM 4 -------------------*/



    .item4-text h1 {
        margin: 20px 0;
    }
    
    .item4-text {
        float: right;
        text-align: center;
        width: 50%;
        height: 400px;
        padding-top: 50px;
        padding: 50px;
        margin-bottom: unset;
    }
    
    .item4-img img{
        float: left;
        width: 50%;
        height: 400px;
    }















    /*-----------------FOOTER-------------*/

    .footer hr {
        width: 50%;
    }

    
}